
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environment
.venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data (ignore actual datasets)
data/*
!data/.gitkeep


#Allow JSON and PNG results in reports 
reports/*.log
reports/*.tmp

.venv/
